<html>
    <head>
        <title>qPost - {{ title }}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            {% if logged_in %}
                <a class="navbar-brand" href="{{ url_for('view_user', id=user.id) }}">
                    Account
                </a>
            {% endif %}

            <ul class="navbar-nav mr-auto">
                {% if logged_in %}
                    <li class="nav-item">
                        <a class="btn btn-info text-light" href="{{ url_for('anonymize') }}">
                            Log Out
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-info text-light" href="{{ url_for('login') }}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success text-light" href="{{ url_for('register') }}">
                            Register
                        </a>
                    </li>
                {% endif %}
            </ul>

        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    
                    {% for message in get_flashed_messages() %}
                        {{ message | safe }}
                    {% endfor %}

                    <br>

                    {% block content %}
                    {% endblock %}
                </dlv>
            </div>
        </div>

    </body>
</html>