<script>

function fetch_feed(page) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let feed = document.getElementById("feed");
            let content = JSON.parse(this.responseText);

            for (post of content) {
                let img = document.createElement("img");
                img.classList.add("mx-auto");
                img.classList.add("card-img-top");
                img.classList.add("feed-image");
                img.src = `/post/${post["id"]}/img`;

                let container = document.createElement("div");
                container.classList.add("feed-image-container");

                container.appendChild(img);

                let card = document.createElement("div");
                card.classList.add("card");
                card.classList.add("card-body");
                card.classList.add("post-description");
                card.innerHTML = post["desc"]

                feed.appendChild(container);
                feed.appendChild(card);
            }
        }
    };

    xhttp.open("GET", `/fetch_feed/${page}`, true);
    xhttp.send();
}

</script>

<style>

.feed-image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    overflow-y: scroll;
}

.post-description {
    margin-bottom: 25px;
}

</style>

<div id="feed" class="text-center">

</div>
<button onclick="load_new_content();">Load More</button>

<script>

fetch_feed(0);

let current_page = 0;

function load_new_content() {
    current_page += 1;

    fetch_feed(current_page);
}

</script>